__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.vscode/

output/
outputs/
checkpoints/
wheels/
.cache/
.venv/
.conda-envs/
.conda-pkgs/
.tmp/

*.log
*.tmp
*.fna
*.fa
*.fasta
*.fna.gz
*.fa.gz
*.fasta.gz
*.tar
*.tar.gz
*.zip

!tests/**/*.fna
!tests/**/*.fa
!tests/**/*.fasta
!tests/**/*.fna.gz
!tests/**/*.fa.gz
!tests/**/*.fasta.gz
